.location-button{
    height: 23px;
    width:auto;
    border-radius: 16px;
    background-color: #000;
    color: #fff;
    font-size: 1.2vw;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    margin-left: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
@media screen and (max-width: 650px) {
    .location-button{
        margin-top: 5px;
        font-size: 10px;
        font-weight: 600;
        font-stretch: expanded;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: auto;
    }

}
